<div class="uk-padding">
  <JexlAlert @astIsValid={{this.astIsValid}}/>
  <Textarea
    @value={{this.jexlExpression}}
    {{on "input" this.recomputeAst}}
    {{did-insert this.setElementRef}}
    {{key-down this.pickFirstSuggestion key='Tab'}}
    rows=10
    cols=50
  />

  <Suggestions
    @suggestions={{this.suggestions}}
    @onSelected={{this.selectSuggestion}}
  />
</div>